<%- include('../partials/header.ejs')  %>
<%- include('../partials/navbar.ejs')  %>

<div class="container">
    <hr>
    <h2>Fornecedores</h2>
    <a class="btn btn-success" href="/fornecedores/novo">Registrar novo Fornecedor</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Contato</th>
                <th>Produtos</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            
            <% fornecedores.forEach(fornecedor => { %>
                <tr>
                    <td><%=fornecedor.id%></td>
                    <td><%=fornecedor.nome%></td>
                    <td><%=fornecedor.contato%></td>
                    <td>
                        <a href="/produtos">Produtos</a>
                    </td>
                    <td>
                        <a href="/fornecedores/edit/<%= fornecedor.id %>" class="btn btn-warning">Editar</a>
                        <form method="POST" action="/fornecedores/deletar" style="display: inline", onsubmit="confirmarExclusao(event, this)">
                            <input type="hidden" name="id" value="<%= fornecedor.id %>">
                            <button class="btn btn-danger">Excluir</button>
                        </form>
                    </td>
                </tr>

            <% }) %>
        </tbody>

    </table>


<%- include('../partials/footer.ejs')  %>

<script>
    function confirmarExclusao(event, form){
        event.preventDefault();
        var decision = confirm("Deseja excluir esse fornecedor?");
        if(decision){
            form.submit();
        }
    }
</script>